@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   color: #919191;
   background-color: #fcfcfc;
}

* {
   font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: bold;
   color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}

input {
   border: 1px solid #e5e5e5;
   width: 100%;
   padding: 10px 15px;
   border-radius: 10px;
}
